*{
    box-sizing:border-box;
    width : 100%;
  
    position:relative;
}

/* GOOGLE ICON  */
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
    font-size: 2.2rem;
  };
  
  
  
body{
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    width:100%;
}
body::-webkit-scrollbar{
    display: none;

}
.wrapper{
     /* 1600px; 900px */
    width : 100rem;
    height : 56.25rem;  
    margin : 0 auto;
   
}

/* HEADER */
.wrapper>header{
    position:fixed;
    left:0px;
    top:0px;
    width:100%;
    height : 200px;
    background-color: white;
    z-index : 555;
}

.wrapper>header>.top-header{
   
   
    background-color: #76ADE8;
    z-index : 2;

    
}
.wrapper>header>.top-header>div{
    height : 60px;
    display: flex;
    justify-content: space-between;
    align-items : center;
    color:white;
    font-size:1.2rem;
    padding-left : 50px;
    padding-right : 50px;
}
.wrapper>header>.top-header .left{
    text-align: left;
    display:flex;
    justify-content: left;
    align-items: center;

   
}
.wrapper>header>.top-header>div>.left:nth-child(1){
    width:50rem; 
    font-weight:800;  
}
.wrapper>header>.top-header>div>.left:nth-child(2){
     
}

.wrapper>header>.top-header .right{
    display:flex;
    justify-content: right;
    align-items: right;
    text-align:right;
    width : 50px;
    color:white;
    margin:0px;padding:0px;


  
   
}
.wrapper>header>.top-header .right a{
    color:white;
}
.wrapper>header>.top-header .right a:hover{
    opacity: 0.5;
}
.wrapper>header>nav{
    width:100vw;
    height : 140px;
    padding : 0px;
    overflow:hidden;
    background-color: #2A76C7;

}
.wrapper>header>nav>div{
    padding-left:50px;
}

.wrapper>header>nav ul {
    
    margin : 0px;
    padding : 10px;
    left : -10px;
   
}
.wrapper>header>nav ul li{
    
    width : 120px;
    height : 120px;
   
    border : 2px solid white;
    background-color: #1D5087;
    
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  
}
.wrapper>header>nav ul li a{
    display :block;
}
.wrapper>header>nav ul li a>.title{
    font-size : 0.8rem;
    margin-top:7px;
}
.wrapper>header>nav ul li a>img{
    width : 50px;
    height : 50px;
}

/* MAIN */

.wrapper>main{
  
    margin-top :180px;
    

}
.wrapper>main>section{

    position:relative;
    display:flex;
    justify-content: center;
    align-items: center;
    height:800px;
}

.wrapper>main>section>#map{
 
    position:fixed;
    width:100vw;
    height:800px;    
}

.wrapper>main>section>#map .leaflet-control-container{
    width : 50px;
    top:5%;  
    
}
.wrapper>main>section>#map  .leaflet-control-zoom{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position:relative;
    left:90vw;

}


/* FOOTER */
.wrapper>footer{

}


/* OPENCANVAS */
.offcanvas_btn{
   position:fixed;
   top:45%;
   left:0px;
   width:20px;
   background-color: black;
   opacity: 0.3;
   z-index:999;
   border-radius: 0 5px 5px 0;
   transition:0.3s;
   transition-timing-function: ease-in-out;
}
.offcanvas_btn img{
    width :20px;
    
}
.ToRight{
    transform:translateX(400px);
}
.ToLeft{
    transform:translateX(0px);
}


.offcanvas{
    height:100vh;
    width:400px;
    background-color: black;
    opacity: 0.3;
    z-index: 400;
}


/* MODAL */
.modal-header{
    
    background-color : #2A76C7 !important;
    height : 50px;
    line-height:50px;
    font-size:0.6rem;
    color:white;
}
.modal-header button{
    color:white;
    background-color: white;
}





