*{
    box-sizing:border-box;
    width : 100%;
    
    position:relative;

}

/* GOOGLE ICON  */
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
    font-size: 2.2rem;
    
  };
 


  
  
body{
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    width:100%;
}
body::-webkit-scrollbar{
    display: none;

}
.wrapper{
     /* 1600px; 900px */
    width : 100rem;
    height : 56.25rem;  
    margin : 0 auto;
   
}

/* HEADER */
.wrapper>header{
    position:fixed;
    left:0px;
    top:0px;
    width:100%;
    height : 200px;
    background-color: white;
    z-index : 555;
}

.wrapper>header>.top-header{
    background-color: #76ADE8;
    z-index : 2; 
}
.wrapper>header>.top-header>div{
    height : 60px;
    display: flex;
    justify-content: space-between;
    align-items : center;
    color:white;
    font-size:1.2rem;
    padding-left : 50px;
    padding-right : 50px;
}
.wrapper>header>.top-header .left{
    text-align: left;
    display:flex;
    justify-content: left;
    align-items: center;

   
}
.wrapper>header>.top-header>div>.left:nth-child(1){
    width:50rem; 
    font-weight:800;  
}
.wrapper>header>.top-header>div>.left:nth-child(2){
     
}

.wrapper>header>.top-header .right{
    display:flex;
    justify-content: right;
    align-items: right;
    text-align:right;
    width : 50px;
    color:white;
    margin:0px;padding:0px;


  
   
}
.wrapper>header>.top-header .right a{
    color:white;
}
.wrapper>header>.top-header .right a:hover{
    opacity: 0.5;
}
.wrapper>header>nav{
    width:100vw;
    height : 140px;
    padding : 0px;
    overflow:hidden;
    background-color: #2A76C7;

}
.wrapper>header>nav>div{
    padding-left:50px;
}

.wrapper>header>nav ul {
    
    margin : 0px;
    padding : 10px;
    left : -10px;

   
}
.wrapper>header>nav ul li{
    
    width : 120px;
    height : 120px;
   
    border : 2px solid white;
    background-color: #1D5087;
    
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  
}
.wrapper>header>nav ul li a{
    display :block;
}
.wrapper>header>nav ul li a>.title{
    font-size : 0.8rem;
    margin-top:7px;
}
.wrapper>header>nav ul li a>img{
    width : 50px;
    height : 50px;
}

/* MAIN */

.wrapper>main{
  
    margin-top :180px;
    

}
.wrapper>main>section{

    position:relative;
    display:flex;
    justify-content: center;
    align-items: center;
    height:800px;
}




/* FOOTER */
.wrapper>footer{

}


/* OPENCANVAS */
.offcanvas_btn{
   position:fixed;
   top:50vh;
   left:0px;
   width:20px;
   background-color: black;
   opacity: 0.7;
   z-index:999;
   border-radius: 0 5px 5px 0;
   transition:0.3s;
   transition-timing-function: ease-in-out;
}
.offcanvas_btn img{
    width :20px;
    left:-1px;

    
}
.ToRight{
    transform:translateX(400px);
}
.ToLeft{
    transform:translateX(0px);
}


.offcanvas{
    height:100vh;
    width:400px;
    background-color: black;
    opacity: 0.7;
    z-index: 400;
}

.offcanvas .offcanvas-body{

}
.offcanvas .offcanvas-body::-webkit-scrollbar{
    display:none;
}

.offcanvas .offcanvas-body>.wrapper{
    display:flex;
    justify-content: center; 
    align-items: start; 
    width:350px;
   
   
    position:relative;
    top:150px;
    padding:5px;
}



.offcanvas .offcanvas-body>.wrapper .buildingwind{
    display:flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    background-color:white;
    
    padding : 10px;
    margin-bottom:20px;
    font-weight: 800;
}
.offcanvas .offcanvas-body>.wrapper .buildingwind>.header{
    width :  319px;
    height : 50px;
    border: 1px solid;
    display:flex;
    align-items:center;
    justify-content: center;
    margin-bottom:5px;
    padding:5px;

}
.offcanvas .offcanvas-body>.wrapper .buildingwind>.header>h4{

    
    
}
.offcanvas .offcanvas-body>.wrapper .buildingwind>.body{
    height : 450px;
    display:flex;
    justify-content: space-between;
    margin-bottom:5px;
}
.offcanvas .offcanvas-body>.wrapper .buildingwind>.body>div{
    border : 1px solid ;

}

.offcanvas .offcanvas-body>.wrapper .buildingwind>.footer{
    height : 50px;
    border : 1px solid ;
}


/*  */
.offcanvas .offcanvas-body>.wrapper .dangerzone{
    display:flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    background-color:white;
    font-size : 1.2rem;
    padding : 10px;
    margin-bottom:20px;
}
.offcanvas .offcanvas-body>.wrapper .dangerzone>.header{
    width :  319px;
    height : 50px;
    border: 1px solid;
    display:flex;
    align-items:center;
    justify-content: center;
    margin-bottom:5px;
    padding:5px;
    font-weight: 800;
}
.offcanvas .offcanvas-body>.wrapper .dangerzone>.header>h4{

    
    
}
.offcanvas .offcanvas-body>.wrapper .dangerzone>.body{
    height : 450px;
    display:flex;
    justify-content: space-between;
    margin-bottom:5px;

}
.offcanvas .offcanvas-body>.wrapper .dangerzone>.body>div{
    border : 1px solid ;

}

.offcanvas .offcanvas-body>.wrapper .dangerzone>.footer{
    height : 50px;
    border : 1px solid ;
}

/* OFFCANVAS X BUTTON */
.offcanvas .offcanvas-body>.wrapper .buildingwind>.header>.cancel{
    content:"X";
    display:block;
    position: absolute;
    left:90%;
    top:5px;
    width : 25px;
    height : 25px;
    z-index:555;

}


.offcanvas .offcanvas-body>.wrapper .buildingwind>.header>.cancel>a{
    font-size:white;
    background-color: #2A76C7;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color : white;
    text-decoration: none;
    font-size:1rem;
 
}
/* OFFCANVAS X BUTTON */
.offcanvas .offcanvas-body>.wrapper .dangerzone>.header>.cancel{
    content:"X";
    display:block;
    position: absolute;
    left:90%;
    top:5px;
    width : 25px;
    height : 25px;
    z-index:555;

}
.offcanvas .offcanvas-body>.wrapper .dangerzone>.header>.cancel>a{
    font-size:white;
    background-color: #2A76C7;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color : white;
    text-decoration: none;
    font-size:1rem;
    
}




/* MAP */
.wrapper>main>section>#map{
 
    position:fixed;
    width:100vw;
    left:calc(-50vw + 50%);
    height:100vh
}

.wrapper>main>section>#map .leaflet-control-container{
    width : 50px;
    top:5%;  
    
}
.wrapper>main>section>#map  .leaflet-control-zoom{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position:relative;
    left:90vw;

}

/* MAP MARKER */
.leaflet-popup{

  
    width :400px;
   
}
.leaflet-popup-content-wrapper{
    width : 400px ;
    height:400px;
    margin:0 auto;
}

/* MAP -- */
.leaflet-control-zoom{
   border : 0px !important;
}