*{
    box-sizing: border-box;
    
}
body{
    margin:0px;
    

}realtimeTbl
body::-webkit-scrollbar{
    display:none;
}

.wrapper{
    padding : 5px;
}

.wrapper>header{
    
    height : 50px;
    line-height : 50px;
    background-color: #2A76C7;
    color : white;
    font-size:2rem;
}
.wrapper>header>.top-header{}
.wrapper>header>nav{}


.wrapper>main{
    height : 45vh;
}
.wrapper>main > section{
    height : 45vh;
   
}
.wrapper>main > section.left{
   
    width :100%;
    height : 340px;
}
.wrapper>footer{
    border-top : 1px solid lightgray;
}
.wrapper >.chartBlock{
    height:400px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.wrapper >.chartBlock>.left{
    width : 100%;
    height : 100%;
    border-right : 1px solid lightgray;
   
}
.wrapper >.chartBlock>.right{
    width:400px;
    height : 100%;
}

/* chart */
#chartdiv {
    width: 100%;
    height: 400px;
  }